* {
    margin: 0;
    padding: 0;
}

body {
    background: #f9f9f9;
}

.container{
    width: 900px;
    margin: auto;
    overflow: hidden;
    padding-top: 20px;
    margin-bottom: 20px;
}

.inner_container{
    width: 900px;
    margin: auto;
}

main {
    width: 600px;
    overflow: hidden;
    background: #fff;
    padding: 20px;
    float: left;
}

.top a {
    text-decoration: none;
    color: #fff;
    padding: 8px;
    display: block;
    transition: 0.5s;
}

.top a:hover {
    background: #fff;
    color: #ff4c4c;
}

.top {
    overflow: hidden;
    background: #ff4c4c;
    margin-bottom: 30px;
    
    position: fixed;
    width: 100%;
}

.top li {
    float: left;
    list-style-type: none;
}

.col-hero{
    width: 100%;
    height: 400px;
    background-image: url(/images/hero.png);
    background-position: center center;
    background-size: cover;
}

.sidebar {
    width: 200px;
    float: left;
    background: #fff;
    padding: 20px;
    margin-left: 10px;
}

.col-3 {
    width: 290px;
    padding: 5px;
    float: left;
    overflow: hidden;
}

.col-9 {
  width: 900px;
  margin: 0 auto;
  overflow: hidden;
  height: auto;
  margin-bottom: 5px;
}

nav {
    overflow: hidden;
    background: #ff4c4c;
    margin-bottom: 30px;
}

nav li {
    float: left;
    list-style-type: none;
}

.top-image {
    float: left;
    margin-right: 10px;
}

.title {
    float: left;
    font-size: 15px;
    width: 350px;
    margin-bottom: 5px;
}

.discription {
    float: left;
    font-size: 12px;
    width: 350px;
    margin-bottom: 5px;
}

.lit-btn {
    text-decoration: none;
    background: #f9f9f9;
    color: #ff4c4c;
    padding: 16px;
    border: 1px solid #ff4c4c;
    border-radius: 3px;
    font-size: 24px;
    float: left;
    transition: 0.3s;
    display: block;
    width: 155px;
    padding-bottom: 10px;
    border-bottom: 10px solid #ff4c4c;
    text-align: center;
}

.lit-btn:hover {
    background: #ff4c4c;
    color: #f9f9f9;
    transition: 0.3s;
    margin-top: 9px;
    border-bottom-width: 1px;
}

.panel-item {
    text-decoration: none;
    overflow: hidden;
    display: block;
    width: 200px;
    height: 200px;
}

.panel-item img {
    width: 100%;
    height: 100%;
    transition: 1.5s ease;
}

.panel-item:hover img {
    margin-left: -15%;
    margin-top: -15%;
    width: 130%;
    height: 130%;
    transition: 1.5s ease;
}